﻿@page
@model Vinoramix.Web.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
