﻿@page
@model Vinoramix.Web.Wines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Vintage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Vintage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.GrapeVariety)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.GrapeVariety)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.VineyardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.VineyardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Wine.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
