﻿@page
@model Vinoramix.Web.Wines.IndexModel

@{
    ViewData["Title"] = "Wines";
}

<h1>Wines</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].Vintage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].GrapeVariety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].VineyardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vintage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrapeVariety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VineyardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
